<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shrtcut icon" type="image/png" href="/css/images/icon.webp">
  <link  rel="stylesheet" type="text/css" href="/css/desktop.css">  
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <script srs="../routes/.js"></script>
    <title>Add Product</title>
</head>
<body>
    <div class="top-nav-bar" >
        <img src="/css/images/Logo.png" class="logo" >
        <div class="menu-bar">
            <ul>
                <li><a href="#"><i class="fa fa-line-chart"></i>Statistics</a></li>
                <li><a href="/desktop">Home Page</a></li>
        
            </ul>
        </div>  
    </div>

    <div class="add">
        <form class="form-horizontal" action='' method="POST">
            <fieldset>
              <div id="legend">
                <legend class="">Add Product details</legend>
              </div>
              <div class="control-group">
                <div class="controls">
                  <input type="text" id="PID" name="PID" placeholder="Product ID" class="input-xlarge">
                </div>
              </div>
           
              <div class="control-group">
                <!-- E-mail -->
                <div class="controls">
                  <input type="text" id="PName" name="PName" placeholder="ProductName" class="input-xlarge">
                </div>
              </div>
          
          
                  <div class="control-group">
                <!-- Student-ID -->
                <div class="controls">
                  <input type="text" id="Pcategory" name="Pcategory" placeholder="Product category" class="input-xlarge">
                </div>
              </div>
           
                <div class="control-group">
                    <!-- Student-ID -->
                    <div class="controls">
                      <input type="text" id="Pprice" name="Pprice" placeholder="Product price" class="input-xlarge">
                    </div>
                  </div>
           
                  <div class="control-group">
                    <!-- Student-ID -->
                    <div class="controls">
                      <input type="text" id="Pcompany" name="Pcompany" placeholder="Product company name" class="input-xlarge">
                    </div>
                  </div>

                  <div class="control-group">
                    <!-- Student-ID -->
                    <div class="controls">
                      <input type="text" id="Pamount" name="Pamount" placeholder="Product amount" class="input-xlarge">
                    </div>
                  </div>
    
           
              <div class="control-group">
                <!-- Button -->
                <div class="controls">
                  <a  href="/desktop" class="btn btn-success" role="button">Add</a>
                </div>
              </div>
            </fieldset>
          </form>

</div>
</form>
</body>
</html>




 