<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link  rel="stylesheet" type="text/css" href="/css/payment.css">

<!------ Include the above in your HEAD tag ---------->

<html>
<head>
    <title>Payment form + checkout'</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-k2/8zcNbxVIh5mnQ52A0r3a6jAgMGxFJFE2707UxGCk= sha512-ZV9KawG2Legkwp3nAlxLIVFudTauWuBpC10uEafMHYL0Sarrz5A7G79kXh5+5+woxQ5HM559XX2UZjMJ36Wplg==" crossorigin="anonymous">
</head>
<body style="font-family: 'Open Sans', sans-serif;">
<div class="container">
    <div class="centered title"><h1>Welcome to our checkout.</h1></div>
</div>
<hr class="featurette-divider"></hr>
<div class="container" >
    <div class="row">
        <div class="col-sm-6">
            <div class="tab-content">
                <div id="stripe" class="tab-pane fade in active">
                    <script src='https://js.stripe.com/v2/' type='text/javascript'></script>

                    <form accept-charset="UTF-8" action="/payment/requirevalidation/" class="/require-validation" method="post">
                        <div style="margin:0;padding:0;display:inline">
                            <input name="utf8" type="hidden" value="✓" />
                            <input name="_method" type="hidden" value="PUT" />
                            <input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                        <br>
                        <div class='form-row'>
                            <div class='form-group required'>
                                <div class='error form-group hide'>
                                    <div class='alert-danger alert'>
                                        Please correct the errors and try again.
                                    </div>
                                </div>
                                <label class='control-label'>Name on Card</label>
                                <input class='form-control' size='4' type='text'name='nameOnCard'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='form-group card required'>
                                <label class='control-label'>Card Number</label>
                                <input autocomplete='off' class='form-control card-number' size='20' type='text' name='cardNumber'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='form-group cvc required'>
                                <label class='control-label'>CVC</label>
                                <input autocomplete='off' class='form-control card-cvc' placeholder='ex. 311' size='3' type='text'name='CVC'>
                            </div>
                            <div class='form-group expiration required'>
                                <label class='control-label'>Expiration month</label>
                                <input class='form-control card-expiry-month' placeholder='MM' size='2' type='text' name='emonth'>
                            </div>
                            <div class='form-group expiration required'>
                                <label class='control-label'>Expiration Year</label>
                                <input class='form-control card-expiry-year' placeholder='YY' size='4' type='text' name='eyear'>
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='form-group'>
                                <button class='form-control btn btn-primary' type='submit'> Continue →</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

<div >

</div>
<% if (data.UserCache.openDiscount == false ) { %>
    <form action="/payment/checkstudentdiscount" method = "post">
        <button  class="btn btn-link">Check if you have student discount !</button>
    </form>
<% } else{ %>
    <% if (data.UserInfo.type == "Student") { %>
        <div class="center"><h2><i>You have an students discount of 10% !!!!</i></h2></div>
        <td class="text-right"><h3><strong>$<%= data.UserCache.fullPrice  %></strong></h3></td>
        <td class="text-right"><h3><strong><span> - </span>$<%= data.UserCache.fullPrice*0.1 %></strong></h3></td>
    <% } else{ %>
        <div class="center"><h2><i>You dont have an students discount. </i></h2></div>
    <% } %>
    <div class="center"><h2><i>BALANCE DUE:</i></h2></div>
    </td>
    <td>   </td>
    <td>   </td>
    <td class="text-right"><h3><strong>$<%= data.Total %></strong></h3></td>
    </div>
    </div>
<% } %>
<% if (locals.errors) { %>
    <ul class="center">
        <% errors.forEach(function(error){ %>
            <div class="text-danger"s><%= error.msg %></div>
        <% }); %>
    </ul>
<% } %>
<br><br><br>
</div>

</div>

</div>
</div>

</form>

</body>
</html>