*
{
    margin: 0;
    padding: 0;
}
table {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  thead:hover td{
    background-color: rgb(128, 230, 128);
    opacity: 0.5;
    color: black;
  }
  tr:hover {
    background-color:rgb(171, 233, 171);
    opacity: 0.5;
  
    }
    #inventory{
      margin-top: 28px;
      margin-bottom: 18px;

    }
    #Inventory{

     margin-top: 28px;

    }
  .thead-dark{
    background-color:rgb(128, 230, 128);
  }
  
  .thead-dark th{
      color: #000000;
  }
  tr:nth-child(even) {
    background-color: rgb(171, 233, 171);
  }
  h1{
      font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;;
      background-color: lightgreen;
    }
  h2 {
    position: relative;
    font-size: large;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    }
  table.dataTable thead .sorting:after,
  table.dataTable thead .sorting:before,
  table.dataTable thead .sorting_asc:after,
  table.dataTable thead .sorting_asc:before,
  table.dataTable thead .sorting_asc_disabled:after,
  table.dataTable thead .sorting_asc_disabled:before,
  table.dataTable thead .sorting_desc:after,
  table.dataTable thead .sorting_desc:before,
  table.dataTable thead .sorting_desc_disabled:after,
  table.dataTable thead .sorting_desc_disabled:before {
      bottom: .5em;
    }
form{
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; ;
}
.button{
  padding: 3px 17px;
  font-size: 16px;
  background-color: rgb(128, 230, 128);
  border-radius: 8px;
  opacity: 1;
}
.button:hover{
  padding: 3px 17px;
  font-size: 16px;
  background-color:rgb(128, 230, 128);
  border-radius: 8px;
  opacity: 0.8;}
